<div class="card" *ngIf="game != null" [style.flexDirection]="'row'">
    <div class="card-body">
        <h4 class="card-title">Players: {{game.players}}</h4>
            <ul class="card-text" [style.listStyleType]="'none'" [style.padding.px]="0">
                <li>Result: {{game.result}}</li>
                <li>Date: {{game.date | date: 'dd-MM-yyyy' | convertToSpace: '-'}}</li>
                <li>Prize: {{game.prize | currency: 'INR' : 'symbol' : '2.0'}}</li>
                <li>Rating: {{game.rating}}</li>
                <li>PGN: <a [href]="game.pgnUrl" target="_blank"><i class="fa fa-download"></i></a></li>
            </ul>
        <a class="btn btn-primary" (click)='back()'>Back</a>
    </div>
    <img class="card-img-top" src="./assets/img/game.gif" alt="Card image"
    [style.width.px]="200"
    [style.height.px]="200" 
    [style.alignSelf]="'center'">
</div>